/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
/* #9be644; */

/* Estilos Generales */
* {
    box-sizing: content-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background: #1c1c1c; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #1c1c1c 1%, #010101 15%, #121212 30%, #121212 30%, #010101 42%, #121212 49%, #121212 49%, #121212 57%, #0a0a0a 70%, #0a0a0a 77%, #191919 90%, #131313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(1%,#1c1c1c), color-stop(15%,#010101), color-stop(30%,#121212), color-stop(30%,#121212), color-stop(42%,#010101), color-stop(49%,#121212), color-stop(49%,#121212), color-stop(57%,#121212), color-stop(70%,#0a0a0a), color-stop(77%,#0a0a0a), color-stop(90%,#191919), color-stop(100%,#131313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #1c1c1c 1%,#010101 15%,#121212 30%,#121212 30%,#010101 42%,#121212 49%,#121212 49%,#121212 57%,#0a0a0a 70%,#0a0a0a 77%,#191919 90%,#131313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #1c1c1c 1%,#010101 15%,#121212 30%,#121212 30%,#010101 42%,#121212 49%,#121212 49%,#121212 57%,#0a0a0a 70%,#0a0a0a 77%,#191919 90%,#131313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #1c1c1c 1%,#010101 15%,#121212 30%,#121212 30%,#010101 42%,#121212 49%,#121212 49%,#121212 57%,#0a0a0a 70%,#0a0a0a 77%,#191919 90%,#131313 100%); /* IE10+ */
    background: linear-gradient(135deg, #1c1c1c 1%,#010101 15%,#121212 30%,#121212 30%,#010101 42%,#121212 49%,#121212 49%,#121212 57%,#0a0a0a 70%,#0a0a0a 77%,#191919 90%,#131313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div {
    font-size: 16px;
}

section {
    font-size: 16px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 16px;
}

li {
    list-style: none;
}

/* Inicio Estilos Header */
header {
    background-image: url('../assets/img/gopass-header-fondo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

.container-header {
    height: 45vh;
    padding: 2% 2%;
    /* background-color: rgba(0, 0, 0, .8); */
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.container-header-logo-gopass img {
    width: 100px;
}

.burguer-button {
    display: none;
}

.container-header-button-login {
    display: grid;
    justify-items: center;
    align-items: top center;
}

.container-header-button-login a {
    color: #9be644;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-size-adjust: none;
}

.menu {
    display: none;
}


.container-header-nav .nav-header ul {
    margin: 0;
    padding: 2.5%;
    display: grid;
    justify-content: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-header-nav .nav-header ul li ul{
    display: none;
}

.container-header-nav .nav-header ul li {
    display: grid;
    justify-content: start;
    justify-items: center;
}

.container-header-nav .nav-header ul li:nth-child(1) {
    display: grid;
    justify-content: start;
    justify-items: center;
}



.nav-header ul li ul li{
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    color: #fff;
}


.nav-header ul li ul li:hover{
    background-color: #6ce52a;
    color: black;
}
.container-header-nav .nav-header ul li ul li a:hover:hover{
    color: black;
}

.container-header-nav .nav-header ul li ul li a{
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

.nav-header ul li ul li{
    padding: 10px;
}
.nav-header ul li ul li a{
    color: black;
}

.container-header-nav .nav-header ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    position: relative;
    padding-bottom: 10px;
}

.container-header-nav .nav-header ul li ul a::before {
    display: none;
}

/* .container-header-nav .nav-header ul li .linkServicios::before {
    display: none;
} */

.nav-header ul li a:hover + ul, .nav-header ul li ul:hover {
    padding: 0;
    margin: 0;
    width: 15.5%;
    position: absolute;
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 35px;
}

.container-header-nav .nav-header ul li a::before {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: #6ce52a;
    position: absolute;
    bottom: 0;
    transition: all 1s;
}

.container-header-nav .nav-header ul li a:hover::before {
    width: 100%;
}


/* Fin Estilos Header */
/* Inicio estilos seccion infogopass */
.infogopass {
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
}

.container-infogopass {
    width: 60vw;
}

.container-infogopass .container-infogopass-title {
    text-align: center;
    margin-bottom: 2%;
    text-size-adjust: none;
}

.container-infogopass .container-infogopass-title p {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    text-size-adjust: none;
}

.container-infogopass .container-infogopass-description {
    text-align: justify;
    padding: 0 10%;
}

.container-infogopass .container-infogopass-description p {
    color: white;
    font-size: 1.5em;
    text-size-adjust: none;
}

.container-infogopass .container-infogopass-description strong {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    color: #9be644;
    text-size-adjust: none;
}

/* Fin estilos seccion infogopass */
/* Inicio estilos seccion functiongopass */
.functiongopass {
    height: 50vh;
    width: 75vw;
    display: flex;
    
}

.gopass-functiongopass-img-responsive {
    display: none;
}

.functiongopass-img img {
    width: 100%;
}

.functiongopass-img {
    width: 50vw;
}

.container-functiongopass-text {
    width: 50vw;
    text-align: center;
    padding: 0 2%;
    text-size-adjust: none;
}

.container-functiongopass-title {
    padding: 3% 0;
    text-size-adjust: none;
}

.container-functiongopass-title p {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.container-functiongopass-description p {
    font-size: 1.5em;
    color: white;
    text-size-adjust: none;
    text-align: justify;
}

.container-functiongopass-img {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.container-functiongopass-img a img {
    cursor: pointer;
    width: 100%;
}

/* Fin estilos seccion functiongopass */
/* Inicio estilos seccion installgopass */
.container-installgopass-title {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.container-installgopass-title p {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
}

.container-installgopass {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
}

.container-installgopass-items {
    max-width: 40vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
}

.container-installgopass-items-number {
    color: white;
    font-size: 3em;
    font-weight: bold;
}

.container-installgopass-items-img1 {
    width: 50%;
}

.container-installgopass-items-img2 {
    width: 70%;
}

.container-installgopass-items-img3 {
    width: 70%;
}

.container-installgopass-items-description {
    display: flex;
    text-align: center;
    padding: 0 5%;
}

.container-installgopass-items-description p {
    margin: 0;
    text-align: center;
    padding: 0 5%;
    color:white;
    font-size: 1.5em;
}

.container-installgopass-info {
    
    justify-items: center;
    display: flex;
    justify-content: center;
}

.container-installgopass-info p {
    width: 75vw;
    text-align: center;
    color: white;
    font-size: 1em;
    margin-bottom: 5%;
}

/* Fin estilos seccion installgopass */
/* Inicio estilos seccion map */
.mapgopass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 70vh;
}

.container-icons-mapa-responsive{
    display: none;
}
.container-map-title{
    width: 70vw;
    text-align: start;
    padding: 2% 0;
 
  
}
.container-map-title p{
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
.container-map {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    height: auto; 
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;
}
.map{
    border-radius: 25px;
    width: 50%;
    height: 100% /*cambiar*/
}
.container-map-img{
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* .container-map-img-marquer{
   
}

.container-map-img-marquer:nth-child(2){
    padding-left: 0;
} */
/* Estilo InfoWindows Map */
.container-info-map{
    padding: 1%;
    text-align: start;
}
.container-info-map h1{
    font-size: 1.5em;
    font-weight: bold;
    color: #9be644;
    text-transform: uppercase;
}
.container-info-map-box{
    display: flex;
    align-items: center;
}
.container-info-map-text{
    width: 80%;
    padding: 0 1%;
}

.container-info-map-text p{
    text-overflow: ellipsis;
}

.container-info-map-text p span{
    font-size: 1.5em;
    width: 10%;
    text-align: center;
    color: #9be644;
    text-overflow: ellipsis;
}
.container-info-map-img{
    width: 30%;
}
.container-info-map-img img{
    border-radius: 8px;
    width: 100%;
}
.container-map-img-marquer img{
    width: 65%;
}

.link{
    padding-left: 5%;
   
}
.container-link{
    display: flex;
    justify-content: start;
    margin-bottom: 1%;
}
.container-link a{
    font-size: 2em;
    border-bottom: 2px solid #9be644;
    color: #6ce72a;
    font-weight: bold;
}

.container-seccion-gopass-imagen-paypal {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
}

.container-seccion-gopass-imagen-paypal img {
    width: 50%;
}

/* Fin estilos seccion Map */
/* Inicio estilos footer */
footer {
    display: flex;
    justify-content: center;
    padding: 0 5%;
}
.footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.footer-container-contact-image{
    width: 20vw;
    display: flex;
    align-self: flex-start;

}

.footer-container-contact-image img {
    width: 100%;
}

.footer-container-contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    order: 3;
    width: 30vw;
}

.footer-container-contact-form p{

    text-align: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.footer-container-contact-form form{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-container-contact-form form .footer-container-contact-form-input{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.footer-container-contact-form form .footer-container-contact-form-input input{
    width: 80%;
    text-size-adjust: none;
    padding: 1%;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
    border-radius: 10px;   
}
.footer-container-contact-form-textarea{
    width: 100%;
    display: flex;
    justify-content: center;  
    margin-bottom: 1%;
}
.footer-container-contact-form-textarea textarea{
    outline: none;
    width: 80%;
    text-size-adjust: none;
    border: 0;
    border-radius: 13px;
    font-family: 'Source Sans Pro', sans-serif;
    height: 80%;
    padding: 1.5%;
    font-size: 1.5em;
    margin-bottom: 2%;
}



.check {
    padding: 1%;
}

.container-checkbox {
    color: #fff;
    display: block;
    position: relative;
    padding-left: 10%;
    margin-bottom: 18px;
    cursor: pointer;
    font-size: 1.2em;
    text-align: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-checkbox a {
    color: rgba(40, 128, 6, 1);
    text-decoration: underline;
    font-size: 1rem;
}

.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0;
}


.container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: transparent;
    border: 1px solid #499234;
}

.container-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.container-checkbox input:checked~.checkmark {
    background-color: rgba(40, 128, 6, 1);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-checkbox input:checked~.checkmark:after {
    display: block;
}

.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.footer-container-contact-form form .buttonSend{
    padding: 0;
    margin: 0;
    display: flex;
    justify-self: center;
}

.footer-container-contact-form form .buttonSend img{
    width: 80%;
}

.footer-container-info {
    width: 30vw;
    padding: 1%;
    /*Cambiar*/
}

.footer-container-info-box {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;

}

.footer-container-info-box-image {
    margin-right: 2%;
}

.footer-container-info-box-image img {
    width: 60px;
}

.footer-container-info-box-data p {
    margin: 0;
    line-height: 90%;
    text-size-adjust: none;
    font-size: 1.5em;
  
    color: #9be644;
}

.footer-container-info-icons {
    text-size-adjust: none;
    margin-top: 5%;
    display: flex;
}

.footer-container-info-icons a {
    margin: 2%;
    color: #9be644;
}

/* Fin estilos footer */
@media only screen and (max-width: 600px) {

    .container-info-map-text p span{
        font-size: 1.5em;
        width: 20%;
        text-align: center;
        color: #9be644;
        text-overflow: ellipsis;
    }
    header {
        margin: 0;
        padding: 0;
        height: 37vh;
        background-image: url('../assets/img/responsive/gopass-header-fondo-responsive.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container-header {
        height: 25vh;
        background-color: initial;
    }

    .container-header-logo-gopass {
        z-index: 10;
        width: 10%;
    }

    .container-header-logo-gopass img {
        width: 80px;
    }

    .container-header-button-login {
        display: none;
    }

    .burguer-button {
        width: 50vw;
        position: fixed;
        z-index: 30;
        display: flex;
        right: -40vw;
    }

    .burguer-button i {
        color: #9be644;
    }

    .container-header-nav {
        display: none;
    }

    .menu {
        background-color: rgba(0, 0, 0, .9);
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 35vh;
        margin: 0;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        transition: .5s;
    }

    .menu ul {
        margin: 0;
        padding: 0;
    }


    .menu ul li {
        margin: 5px 0;
        padding: 0;
    }

    .menu ul li a {
        font-size: 1.5rem;
        border-bottom: 1px solid #9be644;
        margin: 0;
        padding: 0;
        color: #9be644;
        text-transform: uppercase;
    }

    .menu.is-active {
        transition: .5s;
        left: 0;
    }

    .infogopass {
        height: auto;
        background-image: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container-infogopass {
        padding: 0 5%;
        width: 100vw;
    }

    .container-infogopass .container-infogopass-title p {
        font-size: 1.8em;
    }

    .container-infogopass .container-infogopass-description {
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .container-infogopass .container-infogopass-description p {
        font-size: 1.3em;
        display: flex;
        justify-content: center;
    }

    .container-infogopass .container-infogopass-description strong {
        font-size: 1.3em;
    }

    .functiongopass {
        padding: 0;
        margin: 0;
    }

    .functiongopass {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .functiongopass-img{
        width: 90%;
    }
    .container-functiongopass-text {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }


    .container-functiongopass-title p {
        font-size: 1.8em;
        display: flex;
        justify-content: center;
    }

    .container-functiongopass-description {
        margin: 0;
        padding: 5%;
        text-align: center;
    }

    .container-functiongopass-description p {
        font-size: 1.3em;
        display: flex;
        justify-content: center;
    }

    .container-functiongopass-img a img {
        width: 100%;
    }

    .container-installgopass-title {
        display: flex;
        text-align: center;
        padding: 5% 0;
    }

    .container-installgopass-title p {
        font-size: 1.8em;
    }

    .container-installgopass {
        flex-wrap: wrap;
    }

    .container-installgopass-items {
        max-width: 100vw;
        margin-bottom: 5%;
    }

    .container-installgopass-items-number {
        font-size: 1.8em;
    }

    .container-installgopass-items-img2 {
        width: 300px;
    }

    .container-installgopass-items-img3 {
        width: 300px;
    }

    .container-installgopass-items-description p {
        display: flex;
        margin-top: 2%;
        font-size: 1.3em;
    }
    .footer-container-contact-image img{
        width: 300px;
    }
    .container-installgopass-info {
        display: flex;
    }

    .container-installgopass-info p {
        font-size: .6em;
    }

   
    .container-map-title{
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
    .container-map-title p{
        font-size: 1.8em;
    }
    .mapgopass{
        height: 80vh;
    }
    .container-map{
        height: 50%;
        display: flex;
        flex-wrap: wrap;

    }
    .map{
        width: 100%;
    }

    .container-map-img {
        width: 100%;
        height: auto;
        padding: 5% 7%;
    }

    .container-map-img img{
        width: 80%;
    }


    .container-icons-mapa-responsive{
      
        display: none;
        flex-direction: column;
    }
    
    .container-icons-mapa-responsive-box{
    
        display: flex;
    }
    .container-icons-mapa-responsive-box-img{
        width: 25%;
        margin-bottom: 5%;
        display: grid;
        justify-content: center;
        align-items: center; 
    }

    .container-icons-mapa-responsive-box-title{
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }
    .container-icons-mapa-responsive-box-title p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 1.3em;
        color: #575756;
        font-weight: bold;
        text-transform: uppercase;
    }

    .container-link{
        padding: 2% 0;
    }
    .container-link a{
        font-size: 1.2em;
    }
    .container-seccion-gopass-imagen-paypal img{
        width: 80%;
    }

    .footer-container-contact-image {
        padding: 5% 0;
        width: 100vw;
        justify-content: center;
    }
    .footer-container-contact-image img{
        width: 100%;
    }
    .footer-container-contact-form {
        width: initial;
        padding: 0 2%;
    }

    .footer-container-contact-form form button {
        width: 40%;
    }

    .footer-container-info {
        padding: 2%;
        width: 100%;
        justify-content: center;
    }

    .footer-container-info-box {
        justify-content: center;
        text-align: center;
    }

    .footer-container-info-box-image {
        display: none;
    }

    .container-checkbox .checkmark {
        height: 5vw;
        width: 5vw;
    }
    .footer-container-contact-form form button {
        margin-bottom: 5%;
    }
    .footer-container-info-icons{
        justify-content: center;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
}