/* Fuentes */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');
/* #9be644; */

* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    font-size: 16px;
}

li {
    list-style: none;
}

/* Inicio Estilos Header */
header {
    padding: 0;
    margin: 0;
    background-image: url("../assets/img/header-fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-header {
    padding: 2% 2%;
    background-color: rgba(0, 0, 0, .8);
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    align-items: center;
    gap: 1%;
}

.container-header-logo-gopass img {
    width: 100px;
}

.container-header-button-login {
    display: grid;
    justify-items: center;
}

.burguer-button {
    display: none;
}

.container-header-button-login a {
    color: #9be644;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-size-adjust: none;
}

.container-header-text {
    margin: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 5% 0;
}

.container-header-text p {
    padding: 0 2%;
    margin: 0;
    max-width: 1000px;
    line-height: 90%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 68px;
}

.menu {
    display: none;
}

.container-header-nav {
    background-color: rgba(0, 0, 0, .8);
}

.container-header-nav .nav-header ul {
    margin: 0;
    padding: 2.5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-header-nav .nav-header ul li {
    display: grid;
    justify-items: center;
}

.container-header-nav .nav-header ul li a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    color: #9be644;
    position: relative;
    padding-bottom: 10px;
}

.container-header-nav .nav-header ul li a::before {
    content: "";
    display: block;
    width: 50%;
    height: 3px;
    background-color: #9be644;
    position: absolute;
    bottom: 0;
    transition: all 1s;
}

.container-header-nav .nav-header ul li a:hover::before {
    width: 100%;
}

/* Fin estilos Header */
/* Inicio estios Home */
.home {
    height: 600px;
    background-image: url("../assets/img/home-fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 25px 0;
    display: grid;
    align-items: center;
}

.home-container {
    margin: 0;
    padding: 0%;
    display: grid;
    grid-template-rows: 150px 100px 100px;
    justify-items: center;
}

.home-container-text p {
    text-align: center;
    margin: 0;
    padding: 0% 10%;
    font-size: 1.5em;
    color: gray;
    font-weight: bold;
}

.home-container-text .text-strong {
    color: #585857;
}

.home-container-text .text-strong strong {
    color: #9be644;
    font-size: 1.4em;
}

.home-container-image {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
}

.home-container-image img {
    width: 300px;
}

.home-container-link {
    margin-top: 2%;
}

.home-container-link a {
    text-transform: uppercase;
    color: gray;
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 2px solid grey;
}

/* Fin estilos Home */
/* Inicio estilos description */
.description {
    background-image: url("../assets/img/description-fondo.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    padding: 30px 0;
    align-items: center;
}


.container-description-image-responsive {
    display: none;
}

.container-description {
    padding: 0;
    padding-left: 50px;
    display: grid;
    align-items: center;
}

.container-description-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 4.5em;
    line-height: 90%;
    margin: 0;
    padding: 0;
    color: #585857;
}

.container-description-title p {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    text-size-adjust: none;
}

.container-description-text {
    color: gray;
    font-size: 2em;
    line-height: 95%;
    margin: 0;
    padding: 0;
    text-align: justify;
    text-size-adjust: none;
}

.container-description-text p {
    margin: 0;
    padding: 0;
}

.container-description-image {
    padding: 0;
    display: grid;
    justify-items: end;
    align-items: center;
}

.container-description-image img {
    width: 600px;
}
/* Fin estilos Descripcion */

/* Inicio sección items */
.items {
    background-color: #499234;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 120px;
    padding: 0 5%;
}
.container-items {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}
.container-items-box-image {
    display: grid;
    justify-content: center;
    align-items: center;
}
.container-items-box-image img {
    width: 150px;
}
.container-items-box {
    padding: 10px;
    text-align: center;
}
.image-little img {
    width: 250px;
}

.container-items-box-title p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: bold;
    font-size-adjust: none;
}

.container-items-box-text p {
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    font-size-adjust: none;
}
.container-items-image {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: end;
    justify-self: end;
    align-self: flex-start;
}

.container-items-image img {
    margin: 0;
    padding: 0;
    width: 550px;
}

/* Fin estilos items */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-header-nav .nav-header ul li a {
        font-size: .5em;
    }

    header {
        margin: 0;
        padding: 0;
        background-image: url("../assets/img/responsive/header-fondo-responsive.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container-header {
        background-color: initial;
        border-bottom: 20px solid transparent;
    }

    .container-header-logo-gopass {
        display: flex;
        z-index: 5;
    }

    .container-header-logo-gopass img {
        width: 70px;
    }

    .container-header-button-login {
        display: none;
    }

    .burguer-button {
        width: 50vw;
        position: fixed;
        z-index: 4;
        display: flex;
        right: -40vw;
    }

    .burguer-button i {
        color: #9be644;
    }

    .container-header-text {
        background-color: initial;
    }

    .menu {
        background-color: rgba(0, 0, 0, .9);
        position: fixed;
        top: 0;
        left: -100vw;
        width: 100vw;
        margin: 0;
        padding: 10px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bold;
        transition: .5s;
    }

    .menu ul {
        margin: 0;
        padding: 0;
    }

    .menu ul li {
        margin: 5px 0;
        padding: 0;
    }

    .menu ul li a {
        border-bottom: 1px solid #9be644;
        margin: 0;
        padding: 0;
        color: #9be644;
        text-transform: uppercase;
    }

    .menu.is-active {
        transition: .5s;
        left: 0;
    }

    .container-header-nav {
        display: none;
    }

    .container-header-text p {
        font-size: 1.5em;
    }

    .home {
        background-image: url("../assets/img/responsive/home-fondo-responsive.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        padding: 2% 0;
        border: 1px solid #9be644;
    }

    .home-container-text p {
        font-size: 1.2em;
    }

    .home-container-text .text-strong strong {
        font-size: 1.2em;
    }

    .home-container-image {
        padding: 4% 0;
    }

    .home-container-image img {
        width: 250px;
    }

    .description {
        background-image: initial;
    }

    .container-description {
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 100vw;
        margin: 0;
        padding: 0;
    }

    .container-description-image-responsive {
        display: grid;
        justify-items: end;
        gap: 0;
    }

    .container-description-image-responsive img {
        width: 420px;
    }

    .container-description-title {
        margin: 0;
        padding: 0;
    }

    .container-description-title p {
        margin: 0;
        padding: 3% 2%;
        font-size: .8em;
        line-height: 85%;

    }

    .container-description-text {
        margin: 0;
        padding: 0;
    }

    .container-description-text p {
        padding: 0% 2%;
        font-size: 1em;
        text-align: initial;
    }

    .container-description-image {
        display: none;
    }
    .items{
        min-height: 1400px;
        background-color: initial;
        background-image: url('../assets/img/responsive/items-fondo-responsive2.png');
        background-position: cover;
        background-repeat: no-repeat;
        background-size: cover;
        grid-template-rows: repeat(2, auto);
        gap: 2%;
    }
    .container-items {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        
    }
    .container-items-box-title p {
        font-size: 1.5em;
    }
    
    .container-items-box-text p {
        color: #fff;
        font-size: 1.2em;
    }
    
    .container-items-image img {
        margin: 0;
        padding: 0;
        width: 80%;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-header-button-login a {
        font-size: 1.2em;
        text-size-adjust: none;
    }

    .container-header-nav .nav-header ul li a {
        font-size: 1em;
    }

    .container-description-title p {
        margin: 0;
        padding: 3% 2%;
        font-size: .5em;
        line-height: 85%;
        text-size-adjust: none;

    }

    .container-description-text {
        margin: 0;
        padding: 0;
    }

    .container-description-text p {
        padding: 0% 2%;
        font-size: .7em;
        line-height: 85%;
        text-align: initial;
        text-size-adjust: none;
    }

    .container-description-image img {
        width: 450px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-header-nav .nav-header ul li a {
        font-size: 1em;
    }

    .container-header-button-login a {
        font-size: 1rem;
    }

    .container-description-title p {
        margin: 0;
        padding: 3% 2%;
        font-size: .7em;
        line-height: 85%;

    }

    .container-description-text {
        margin: 0;
        padding: 0;
    }

    .container-description-text p {
        padding: 0% 2%;
        font-size: .7em;
        line-height: 85%;
        text-align: initial;
    }

    .container-description-image img {
        width: 450px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container-header-button-login a {
        font-size: 1.7em;
    }

    .container-header-nav .nav-header ul li a {
        font-size: 1.7em;
    }

    .container-description-title p {
        margin: 0;
        padding: 3% 2%;
        font-size: 1em;
        line-height: 85%;

    }

    .container-description-text {
        margin: 0;
        padding: 0;
    }

    .container-description-text p {
        padding: 0% 2%;
        font-size: 1em;
        line-height: 85%;
        text-align: initial;
    }

    .container-description-image img {
        width: 650px;
    }

}